.hidden{
  display: none;
}
.listPage, #modifyItem{
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
}
.listItem{
  display: flex;
  align-items: center;
padding: 7px;
}
.tweetText{
  flex-grow: 2;
  text-align: left;
  word-break: break-all;
  cursor: pointer;
}

#alertMessage{
  position: absolute;
  padding: 30px 20px;
  background-color: #C7C7C7;
  color: #ffffff;
}

#navigationButtons{
  display: flex;
  justify-content: space-around;
}